/* hide unuseful containers */
#files .meta,
.site-footer,
.commit,
.file-navigation,
.capped-box,
.repository-meta,
.repository-sidebar,
.pagehead,
.header {
    display: none !important;
}

/* bigger main container */
.repository-content {
    width: 960px !important;
}

.repository-content .file {
    border: none !important;
}

.repository-content .bubble,
.repository-content article {
    padding: 0 !important;
}
